.root {
    -color-menu: #6e7a68;
    -color-list: #e3e0cf;
}

/* Scroll bar */
.scroll-bar {
    -fx-background-color: -color-list;
}

.scroll-bar .thumb {
    -fx-background-color: derive(-color-list, -20%);
    -fx-background-insets: 3;
}

.scroll-bar .increment-button, .scroll-bar .decrement-button {
    -fx-background-color: transparent;
    -fx-padding: 0 0 0 0;
}

.scroll-bar .increment-arrow, .scroll-bar .decrement-arrow {
    -fx-shape: " ";
}

.scroll-bar:vertical .increment-arrow, .scroll-bar:vertical .decrement-arrow {
    -fx-padding: 1 8 1 8;
}

.scroll-bar:horizontal .increment-arrow, .scroll-bar:horizontal .decrement-arrow {
    -fx-padding: 8 1 8 1;
}

/* Split pane divider */
.split-pane:horizontal > .split-pane-divider {
    -fx-border-color:  transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0 0 0 0;
}

.split-pane:vertical > .split-pane-divider {
    -fx-border-color:  transparent;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0 0 0 0
}

/* Pane coloring styles */
.menupane {
    -fx-background-color: -color-menu;
    -fx-border-color: -color-menu;
}

.menupane .vbox {
    -fx-background-color: -color-menu;
    -fx-border-color: -color-menu;
}

.listpane {
    -fx-background-color: -color-list;
    -fx-border-color: -color-list;
}

/* Lists */
.list-view {
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-background-color: -color-list;
}

.list-cell {
    -fx-label-padding: 0 0 0 0;
    -fx-graphic-text-gap : 0;
    -fx-padding: 0 0 0 0;
}

.list-cell:filled:even {
    -fx-background-color: -color-list;
}

.list-cell:filled:odd {
    -fx-background-color: derive(-color-list, 20%);
}

.list-cell:filled:selected {
    -fx-background-color: derive(-color-list, -10%);
}

.list-cell:filled:selected #cardPane {
    -fx-border-color: #3e7b91;
    -fx-border-width: 1;
}

.list-cell .label {
    -fx-text-fill: black;
}

.result-display {
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI Light";
    -fx-font-size: 13pt;
    -fx-text-fill: black;
}

.result-display .label {
    -fx-text-fill: black !important;
    -fx-background-color: black;
}

.status-bar {
    -fx-background-color: transparent;
}

.status-bar .label {
    -fx-font-family: "Segoe UI Light";
    -fx-text-fill: #9fa8a3;
    -fx-padding: 4px;
    -fx-pref-height: 30px;
}

.status-bar-with-border {
    -fx-background-color: derive(#1d1d1d, 30%);
    -fx-border-color: derive(#1d1d1d, 25%);
    -fx-border-width: 1px;
}

.status-bar-with-border .label {
    -fx-text-fill: black;
}

/* For commandbox */
.command-box-holder {
    -fx-padding: 0 0 0 0
}

/* for result display */
.result-display-wrapper {
    -fx-stroke-width: 1;
}

.result-display-wrapper .text-area, .text-area .viewport, .text-area .content {
    -fx-background-color: transparent;
}

/*
 * Metro style Push Button
 * Author: Pedro Duque Vieira
 * http://pixelduke.wordpress.com/2012/10/23/jmetro-windows-8-controls-on-java/
 */
.button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: transparent;
    -fx-border-width: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 20pt;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: derive(-color-menu, 30%);
}

.button:pressed, .button:default:hover:pressed {
  -fx-background-color: derive(-color-menu, 50%);
  -fx-text-fill: #1d1d1d;
}

.button:focused {
    -fx-background-color: derive(-color-menu, 50%);
}

.button:disabled, .button:default:disabled {
    -fx-opacity: 0.4;
    -fx-background-color: #1d1d1d;
    -fx-text-fill: white;
}

.button:default {
    -fx-background-color: -fx-focus-color;
    -fx-text-fill: #ffffff;
}

.button:default:hover {
    -fx-background-color: derive(-fx-focus-color, 30%);
}

/* PersonListCard */
.cell-big-label {
}

.cell-small-label {
}
